@charset "utf-8";
$globalWhith:1190px;
$width100: 100%;
$color666: #666;
$colorF98:#f9860a;
$borderCcc:1px solid #ccc;


/*banner*/
.banner{
	width:$width100;
	height:420px;
	position:relative;
	overflow:hidden;
	ul{
		position:absolute;
		top:0;
		left:0;
		width:$width100;
		li{
			width:$width100;
			position:absolute;
			height:420px;
			img{
				position:absolute;
				left:50%;
				margin-left:-960px;
			}
		}
	}
	ol{
		background:url(../images/transparent20.png) repeat;
		border-radius:20px;
		width:86px;
		height:16px;
		padding:0 3px;
		position:absolute;
		left:50%;
		margin-left:-43px;
		bottom:20px;
		li{
			background:#ddd;
			width:10px;
			height:10px; 
			border-radius:50%;
			margin:3px 3px;
			float:left;
			&.active{
				background:$colorF98;
			}
		}
	}
	.prev{
	    width: 30px;
	    height: 80px;
	    background: url(../images/icon.png) -2px -32px no-repeat;
	    position: absolute;
	    top: 40%;
	    left:50%;
	    margin-left:-395px;
	    display:none;
	}
	.next{
	    width: 30px;
	    height: 80px;
	   	background: url(../images/icon.png) -33px -32px no-repeat;
	    position: absolute;
	    top: 40%;
	    right:50%;
	    margin-right:-395px;
	    display:none;
	}
	&:hover{
		.prev,.next{display:block;}
	}
}
.relative{ position:relative;}


/*banner右侧*/
.con_login{ 
	width:200px;
	height:380px;
	background:#fff;
	z-index:9;
	position:absolute;
	margin-top: 20px;
	right:0;
	.con_user{
		padding-top: 30px;
		text-align:center;
		img{ display:inline-block;}
		h2{color: #666; font-size:12px; padding:10px 0;}
		a{
			width: 75px; 
			height: 24px; 
			line-height:24px;
			text-align:center; 
			border: 1px solid #ddd;
			display:inline-block;
			margin:0 5px;
			font-size:12px;
			&:hover{
				border:1px solid $colorF98;
				color:$colorF98;
			}
			&.orange{
				border:1px solid $colorF98;
				color:$colorF98;
				&:hover{
					color:#fff;
					background:$colorF98;					
				}
			}
		}
	}
	ul{
		padding-top:20px;
		li{
			width:50%;
			float:left;
			text-align:center;
			padding-top:10px;
			i{
				background:url(../images/icon.png) no-repeat;
				display:block;
				width:36px;
				height:36px;
				margin:0 auto;
				transition:all 0.5s;
				&:hover{
					transform:rotateY(360deg);
				}
			}

			&:first-child i{
				background-position: 0 -120px;
			}
			&:nth-child(2) i{
				background-position: -37px -120px;
			}
			&:nth-child(3) i{
				background-position: -75px -120px;
			}
			&:last-child i{
				background-position: -112px -120px;
			}
			span{
				color:#999;
				padding:10px 0;
				display:block;
				text-align:center;
			}
		}
	}
}
/*内容标题*/
.con_tit{    
    padding: 30px 0 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #666;
}
.con_top{
	h2{
		float: left;
	}
	ul{
		float: right;
		padding: 30px 0 20px 0;
		li{
			float: left;
			margin-left: 20px;
			a{
				color:#999;
				&:hover{
					color:$colorF98;
					text-decoration: underline;
				}
			}
		}
	}
}
/*活动推荐*/
.con_tuijian{
	ul{
		li{
			float:left;
			margin-left:10px;
			&:first-child{
				margin-left:0;
			}
			a{
				display:block;
				transition:all 0.5s;
				&:hover{
					transform:translateY(-10px);
				}
			}
		}
	}
}
/*1F家具*/
.con_1f{	
	dl{
		dt{
			float: left;
			width:330px;
			height:440px;
			position: relative;
			overflow: hidden;
			ul{
				position: absolute;
				li{
					float: left;
				}
			}
			ol{
				background:url(../images/transparent20.png) repeat;
				border-radius:20px;
				/*width:56px;*/
				height:16px;
				padding:0 3px;
				position:absolute;
				left:50%;
				margin-left:-43px;
				bottom:20px;
				li{
					background:#ddd;
					width:10px;
					height:10px; 
					border-radius:50%;
					margin:3px 3px;
					float:left;
					&.active{
						background:$colorF98;
					}
				}
			}
		}
		dd{
			float: left;
			width:860px;
			ul{
				li{
					float: left;
				}
			}

		}
	}
}


/*体验馆*/
.con_tiyan{
	dl{
		width:49%;
		float: left;
		border:1px solid #e3e2e3;
		padding:20px;
		margin-bottom: 20px;
		&:nth-child(even){
			float:right;
		}
		&:hover{
			border:1px solid $colorF98;
		}
		dt{
			float: left;
		}
		dd{
			float: left;
			margin-left: 20px;
			width:340px;
			h2{
				font-size: 16px;
				padding:2px 0 10px 0;
				color:#333;
				font-weight: bold;
				&:hover{
					color:$colorF98;
				}
			}
			ul{
				padding-bottom: 6px;
				overflow:hidden;
				li{
					font-size: 14px;
					color:#999;
					line-height: 26px;
					.orange{
						color:$colorF98;
					}
				}
			}
			p{
				float: left;
				height:26px;
				line-height: 26px;
				color:#999;
			    width: 81px;
			    border: 1px solid #ddd;
			    font-size: 12px;
			    i{
			    	color:$colorF98;
			    }
			}
			i{
				padding:0 5px;
			}
		}
	}
}

/*动态*/
.con_news{
	.con_news_l{
		float: left;
		width:480px;
		.con_news_l_img{
			width:100%;
			height:260px;
			img{
				width:100%;
			}
		}
		dl{
			background: $colorF98;
			height:90px;
			dt{
				float: left;
				text-align:center;
				color:#fff;
				width:95px;
				padding-top: 13px;
				span{
					display: block;
					clear:both;
					font-size: 32px;
    				font-weight: bold;
				}
				i{
					font-size: 12px;
				}
			}
			dd{
				float: left;
				width:340px;
				color:#fff;
				p{
					line-height: 36px;
					font-size: 16px;
					border-bottom: 1px solid #fff;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				span{
					margin-top: 5px;
					color: #fddbb6;
    				font-size: 14px;
    				line-height: 20px;
    				height:40px;
    				overflow: hidden;
    				display: block;
    				text-overflow: ellipsis;
    				display: -webkit-box;
    				-webkit-line-clamp: 2;
    				-webkit-box-orient: vertical;
				}
			}
		}
	}
	.con_news_r{
		float: left;
		width:710px;
		border:1px solid #e3e2e3;
		border-left:none;
		height:350px;
		overflow: hidden;
		padding-left: 40px;
		padding-right: 20px;
		.con_news_r_top{
			padding: 20px 0;
			dt{
				float: right;
				text-align:center;
				color:#999;
				width:95px;
				padding-top: 13px;
				span{
					display: block;
					clear:both;
					font-size: 32px;
    				font-weight: bold;
				}
				i{
					font-size: 12px;
				}
			}
			dd{
				color:#999;
				padding-right: 95px;
				p{
					line-height: 36px;
					font-size: 16px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					color:$colorF98;
				}
				span{
					margin-top: 5px;
    				font-size: 14px;
    				line-height: 20px;
    				height:40px;
    				overflow: hidden;
    				display: block;
    				text-overflow: ellipsis;
    				display: -webkit-box;
    				-webkit-line-clamp: 2;
    				-webkit-box-orient: vertical;
				}
			}
		}
		.news-item{
			float: left;
			width:48%;
			&:last-child{
				float:right;
			}
			dt{
				border-bottom: 1px solid #f1f0f1;
				margin-bottom: 10px;
				span{
					border-bottom: 1px solid #000;
				    height: 40px;
				    line-height: 40px;
				    color: #333;
				    font-weight: bold;
				    float:left;
				    font-size: 16px;
				}
				a{
					float: right;
					line-height: 40px;
				}
			}
			dd{
				line-height: 34px;
				p{
					white-space: nowrap;
				    overflow: hidden;
				    text-overflow: ellipsis;
				}
				span{
					float: right;
					width:65px;
					font-size: 12px;
					color:#999;
				}
				&:hover{
					p{
						color:$colorF98;
						text-decoration: underline;
					}
				}
			}
		}
	}
}
